---
import Html from "@layouts/Html.astro";
import Header from "@components/Header.astro";
import TelegramIcon from "@assets/telegram.svg";
import VkIcon from "@assets/vk.svg";
import DiscordIcon from "@assets/discord.svg";
import { getLocaleFromUrl, localeStaticPaths, useTranslations } from "@i18n/translate";
import Footer from "@components/Footer.astro";
import ContactForm from "@components/ContactForm.astro";
import { Image } from "astro:assets";
export const getStaticPaths = localeStaticPaths

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<Html title={t("contact_me")} description="A new way of enjoying anime">
	<Header />

    <div class="section">
        <div class="section-content">
            <div class="section-header">
				<hr />
				<h2 class="section-title">{t("contact_me")}</h2>
				<hr />
			</div>

            <!-- <div class="socials">
                <a href="https://t.me/MrBoomDev">
                    <div class="social">
                        <Image src={TelegramIcon} alt="Telegram logo"} class="social-icon" />
                        <span>Telegram</span>
                    </div>           
                </a>

                <a href="https://vk.com/denisinvk">
                    <div class="social">
                        <Image src={VkIcon} alt="VK logo"} class="social-icon" />
                        <span>VK</span>
                    </div>           
                </a>
            </div> -->

            <ContactForm />
        </div>
    </div>
    
	<Footer />
</Html>

<style>
    .section {
        width: 100%;
		display: flex;
		justify-content: center;

		.section-content {
            display: flex;
            flex-direction: column;
            gap: .6rem;
			width: 100%;
			max-width: 800px;
			padding: 1rem;
            padding-bottom: 3rem;
		}
    }

    .section-header {
		display: flex;
		align-items: center;
		gap: 2rem;
		padding-block: .75rem;

		hr {
			flex-grow: 1;
			height: 1px;
			opacity: .25;
			scale: 1 .25;
		}
	}

    .social {
        display: flex;
        align-content: center;
        gap: .8rem;
        background-color: rgb(29, 16, 52);
        border-radius: 1rem;
        padding: 1rem;
        transition: .2s;

        .social-icon {
            filter: invert(100%) sepia(5%) saturate(314%) hue-rotate(276deg) brightness(117%) contrast(100%);
        }

        span {

            color: white;
        }

        &:active {
            scale: .95;
        }
    }
</style>