---
import Html from "@layouts/Html.astro";
import Header from "@components/Header.astro";
import { localeStaticPaths } from "@i18n/translate";
export const getStaticPaths = localeStaticPaths
---

<Html title="Awery" description="A new way of enjoying anime">
	<Header />
	<h1>Awery 😊</h1>
	<a href="https://github.com/MrBoomDeveloper/Awery">See more here</a>
</Html>