---
import { getLocaleFromUrl, localeStaticPaths, useTranslations } from '@i18n/translate';
import Html from '@layouts/Html.astro';
import Header from '@components/Header.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import Footer from '@components/Footer.astro';
import FeaturedProjects from '@components/FeaturedProjects.astro';

export const getStaticPaths = localeStaticPaths;
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<Html title={t("contact_me")} description="A new way of enjoying anime">
	<Header />

    <div class="section">
        <div class="section-content">
            <div class="section-header">
				<hr />
				<h2 class="section-title">{t("my_projects")}</h2>
				<hr />
			</div>

			<FeaturedProjects />
        </div>
    </div>
    
	<Footer />
</Html>

<style>
	.section {
        width: 100%;
		display: flex;
		justify-content: center;

		.section-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
			width: 100%;
			max-width: 800px;
			padding: 1rem;
            padding-bottom: 3rem;
		}
    }

    .section-header {
		display: flex;
		align-items: center;
		gap: 2rem;
		padding-block: .75rem;

		hr {
			flex-grow: 1;
			height: 1px;
			opacity: .25;
			scale: 1 .25;
		}
	}
</style>