---
import Html from "@layouts/Html.astro";
import Header from "@components/Header.astro";
import { localeStaticPaths } from "@i18n/translate";
export const getStaticPaths = localeStaticPaths
---

<h1>Telepoxy</h1>
<p>I haven't even started working at this project...</p>