---
import Html from "@layouts/Html.astro";
import Header from "@components/Header.astro";
import { localeStaticPaths } from "@i18n/translate";
export const getStaticPaths = localeStaticPaths
---

<Html title="v2rang2" description="a better vpn client for android">
	<Header />
	<h1>v2rang2 😊</h1>
	<a href="https://github.com/MrBoomDeveloper/v2rayng2">See more here</a>
</Html>