---
import Html from "@layouts/Html.astro";
import { locales } from "@i18n/translate";

const url = Astro.url;
const site = `${url.protocol}://${url.host}`;
---

<Html>
	<noscript>
		<!-- We cannot determine an locale without backend so we assume that only nerds do disable javascript. Who else? -->
		<meta http-equiv="refresh" content="0;url=/en" />
	</noscript>

	<script define:vars={{ site, locales }}>
		let selectedLocale = null;

		for(const browserLocale of navigator.languages) {
			for(const supportedLocale of locales) {
				if(browserLocale == supportedLocale || browserLocale.startsWith(supportedLocale + "-")) {
					selectedLocale = supportedLocale;
					break;
				}
			}

			if(selectedLocale != null) {
				break;
			}
		}
		
		location.replace(`${site}/${selectedLocale ?? "en"}`)
	</script>
	
	<h2>Redirecting to the homepage...</h2>
</Html>

<style>
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: .6rem;
		height: 100vh;
	}

	p {
		max-width: 350px;
		text-align: center;
	}
</style>