---
import Html from "@layouts/Html.astro";
---

<Html>
	<meta http-equiv="refresh" content="0;url=/en" />
	<h2>What are you doing here?</h2>
	<p>You shouldn't to be here. Redirecting to the homepage...</p>
</Html>

<style>
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: .6rem;
		height: 100vh;
	}

	h1, h2, h3, h4, h5, h6, p {
		font-family: poppins, sans-serif;
	}

	p {
		max-width: 350px;
		text-align: center;
	}
</style>