---
import { getLocaleFromUrl, useTranslations } from "@i18n/translate";
import Button from "./Button.astro"
import SendIcon from "@assets/send.svg"
import Input from "./Input.astro";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<form action="https://api.web3forms.com/submit" method="post">
    <input type="hidden" name="access_key" value="2fdf5449-091f-4a24-bbbb-272e9e27d0b3" />

    <p class="message">Do you have any questions? You can send me an email and i'll try to answer as quick as possible 🙃</p>

    <div class="contact-form-desktop">
        <div class="contact-form-desktop-info">
            <Input name="name" placeholder={t("name")} required />
            <Input name="email" placeholder={t("email")} required />
            <Button text={t("send")} icon={SendIcon} type="submit" style="width: 100%; margin-top: .4rem" />
        </div>

        <Input 
            name="message" 
            placeholder={t("message")} 
            required 
            singleLine={false} 
            class="contact-message"
            style={{ flexGrow: 1 }} />
    </div>

    <div class="contact-form-mobile">
        <Input name="name" placeholder={t("name")} required />
        <Input name="email" placeholder={t("email")} required />
        <Input name="message" placeholder={t("message")} required singleLine={false} class="contact-message" />
        <Button text={t("send")} icon={SendIcon} type="submit" style="width: 100%; margin-top: .4rem; margin-bottom: 1rem" />
    </div>
</form>

<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .message {
        font-family: poppins, sans-serif;
        margin-bottom: .6rem;
    }

    .contact-form-desktop {
        display: none;

        @media screen and (min-width: 600px) {
            display: flex;
            gap: 1rem;
        }

        .contact-form-desktop-info {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }

    .contact-form-mobile {
        display: none;
        
        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
</style>