<div class="footer">
	<div class="footer-content">
		<!-- <div class="block">
			<h2>Socials</h2>

			<div class="socials">

			</div>
		</div> -->

		<div class="block">
			<h2>Legal</h2>
			<a href="/privacy">Privacy Policy</a>
			<a href="/terms">Terms of Usage</a>
		</div>
	</div>
</div>

<style>
	.footer {
		background-color: rgba(0, 0, 0, .1);
		width: 100%;
		display: flex;
		justify-content: center;

		.footer-content {
			max-width: 800px;
			width: 100%;
			margin-inline: 1rem;
			margin-top: 2rem;
			padding-bottom: 4rem;
			display: flex;
			gap: 4rem;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	.block {
		display: flex;
		flex-direction: column;
		gap: .8rem;

		h2 {
			font-family: poppins, sans-serif;
		}

		a {
			color: rgb(251, 204, 255);
			font-family: poppins, sans-serif;
		}
	}
</style>