---
import type { HTMLAttributes } from 'astro/types'
import TelegramIcon from "@assets/telegram.svg"
import GithubIcon from "@assets/github.svg"
import { Image } from 'astro:assets'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getLocaleFromUrl, useTranslations } from '@i18n/translate'

type Props = HTMLAttributes<"div">
const { ...props } = Astro.props
const locale = getLocaleFromUrl(Astro.url)
const t = useTranslations(locale);

const path = Astro.url.pathname;
let tab = path.substring(path.indexOf("/") + 1);
tab = tab.substring(tab.indexOf("/") + 1);
tab = tab.substring(0, tab.indexOf("/")).trim();
---

<div class="header" {...props}>
	<div class="header-content">
		<div class="header-content-main">
			<a href={getRelativeLocaleUrl(locale)} class="logo">MrBoomDev</a>

			<div class="burger">
				<input type="checkbox" />
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div class="header-content-items">
			<a href={getRelativeLocaleUrl(locale)} class:list={["tab", tab == "" ? "tab-selected" : ""]}>{t("home")}</a>
			<a href={getRelativeLocaleUrl(locale, "projects")} class:list={["tab", tab == "projects" ? "tab-selected" : ""]}>{t("projects")}</a>
			<a href={getRelativeLocaleUrl(locale, "contact")} class:list={["tab", tab == "contact" ? "tab-selected" : ""]}>{t("contact")}</a>

			<div class="socials">
				<a href="https://t.me/MrBoomDev">
					<Image src={TelegramIcon} title="Telegram" alt="Telegram icon" class="icon" />
				</a>

				<a href="https://github.com/MrBoomDeveloper">
					<Image src={GithubIcon} title="GitHub" alt="GitHub icon" class="icon" />
				</a>
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	.header {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.header-content {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		max-width: 800px;
		padding: 1rem 2rem;
		gap: 1rem;
	}

	a {
		transition: .1s;
		-webkit-tap-highlight-color: transparent;

		&:hover {
			opacity: .75;
		}

		&:active {
			scale: .95;
		}
	}

	.logo {
		font-weight: 800;
		font-size: 1.6em;
		color: rgb(240, 87, 255);
		font-family: "Nunito", sans-serif;

		&:hover {
			opacity: .75;
			text-shadow: rgba(217, 48, 255, .25) 0 0 2rem;
		}
	}

	.burger {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 1.8rem;
		height: 1.5rem;
		gap: .5rem;
		transition: .1s;

		span {
			display: block;
			width: 100%;
			flex-grow: 1;
			background-color: white;
			transition: .1s;
		}

		input {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 1;
			z-index: 999;
			scale: 2;
			opacity: 0;
		}

		&:has(input:checked) {
			scale: 1.2;

			span {
				&:nth-child(2) {
					translate: 0 .65rem;
					rotate: 45deg;
				}

				&:nth-child(3) {
					opacity: 0;
				}

				&:nth-child(4) {
					translate: 0 -.65rem;
					rotate: -45deg;
				}
			}
		}

		@media screen and (min-width: 750px) {
			display: none;
		}
	}

	.header-content-items {
		display: flex;
		align-items: center;
		gap: 1.6rem;

		& > a {
			display: flex;
			transition: .1s;
		}
	}

	.socials {
		display: flex;
		align-items: center;
		gap: .8rem;
	}

	.tab {
		position: relative;
		text-decoration: none;
		color: white;
		font-size: 1.1em;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -.2rem;
			left: 50%;
			right: 50%;
			width: 0%;
			height: .06em;
			background-color: white;
			transition: .2s;
		}

		&:is(.tab-selected, :hover)::after {
			width: 110%;
			left: -5%;
		}
	}

	.icon {
		width: 1.8rem;
		height: auto;
		filter: invert(100%) sepia(5%) saturate(314%) hue-rotate(276deg) brightness(117%) contrast(100%);
	}

	@media screen and (max-width: 750px) {
		.header-content {
			position: relative;
			flex-wrap: wrap;
		}

		.header-content-main {
			display: flex;
			flex-grow: 1;
			align-items: center;
			justify-content: space-between;
		}

		.header-content-items {
			position: absolute;
			top: 100%;
			flex-direction: column;
			width: calc(100% - 4rem);
			font-size: 1.6rem;
			padding-block: 2rem;
			transition: .2s;
			opacity: 0;

			.socials {
				margin-top: 1rem;
				gap: 2rem;
			}

			.icon {
				width: 2rem;
			}
		}

		.header {
			position: sticky;
			z-index: 999;

			&::before {
				content: "";
				position: fixed;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(19, 9, 30, 0.75);
				opacity: 0;
				transition: .2s;
				pointer-events: none;
			}

			&:has(.burger > :checked) {
				&::before {
					backdrop-filter: blur(1rem);
					opacity: 1;
					pointer-events: inherit;
				}

				.header-content-items {
					opacity: 1;
				}
			}
		}
	}
</style>